QListWidget, QListView, QTreeWidget, QTreeView {
    outline: 0px;
}

QListWidget {
    min-width: 120px;
    max-width: 120px;
    color: Black;
    background: #F5F5F5;
    font-size: 10px;
}

QListWidget::Item:selected {
    background: lightGray;
    border-left: 3px solid gray;
}

HistoryPanel:hover {
    background: rgb(52, 52, 52);
}